
@import "secciones";

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
   
}

.imagenFondoIndex {
    background-image: url(../img/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }


.logo{
   text-align: center;
   margin-top: 2rem;
   
         h4{
    color: rgb(218, 67, 67);
    
           }
}  

.conteiner-grid{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(15rem, auto);
    gap: 0.5rem;

    div{
        
        background-color: rgba(251, 251, 251, 0.281);
        
         position: relative;
        text-align: center; 
         .botones{  
                width: 100%;
                height: 100%;
                text-decoration: none;
                outline: 1px solid rgb(211, 206, 206);
                border-radius: 3px;
                position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50%, -50%); 
                 transition: 2s;
                 padding-top: 7rem;
                 color: black;
                 
             &:hover{
             background-color: rgba(27, 15, 8, 0.404);
         
    }
    
}   
}
}